{% extends "subpage_layout.html" %}

		{% block head %}
		<title>{{title}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/static/assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/jquery.scrollex.min.js"></script>
			<script src="/static/assets/js/jquery.scrolly.min.js"></script>
			<script src="/static/assets/js/skel.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/static/assets/js/main.js"></script>
		{% endblock %}

{% block content %}

	<div class="ui form-user center raised very padded text container segment">
		<form class="ui form" action="/user/signup" method="post">
			<h4 class="ui dividing header">Sign up</h4>
	    	{{ m.render_field(form.name) }}
			{{ m.render_field(form.surname) }}
			{{ m.render_field(form.usertype) }}
	    	{{ m.render_field(form.phone) }}
	    	{{ m.render_field(form.email) }}
	    	{{ m.render_field(form.password) }}
	    	{{ m.render_field(form.confirm) }}
		  	{{ form.csrf_token }}
		  	<button class="ui primary button" type="submit">Submit</button>
		</form>
	</div>

{% endblock %}