{% extends "subpage_layout.html" %}

{% block head %}
    {{ super() }}
    <!-- <link rel="stylesheet" href="/static/css/main.css" type="text/css" media="all"/> -->
    <script src="/static/js/capture.js"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}

    <div class="contentarea">
      <h1>
        Take a picture of Garbage
      </h1>

      <div class="camera">
        <video id="video">Video stream not available.</video>
        <button id="startbutton">Take photo</button>
      </div>
      <canvas id="canvas">
      </canvas>
      <div class="output">
        <img id="photo" alt="The screen capture will appear in this box.">
      </div>

        <form class="form-inline" method="post">
          <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Category</label>
          <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="cate" placeholder={{cate}}>
            <option selected>Choose...</option>
            <option value="1">Green bin</option>
            <option value="2">Yellow bag</option>
            <option value="3">Blue box</option>
            <option value="3">Barbage bin</option>
          </select>
          <!-- Button trigger modal -->
          <input type="hidden" id="photo1" type = "text" name = "file" />
          <button type="submit" class="btn btn-primary" >Submit</button>

            <!-- Modal -->
            <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    ...
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div> -->
        </form>

        <h3>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </h3>
    </div>

{% endblock %}
