{% extends "subpage_layout.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    {% if img_addr %}
	  <img src="{{img_addr}}" style="max-width:500px; max-height:500px;"></img></br>
    Category: {{category}}
    </br>
    Is this Correct?
    </br>

    <form action="" method=post>
 <!--        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="isCorrect" id="exampleRadios1" value="Yes" checked>
            Correct
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="isCorrect" id="exampleRadios2" value="No">
            Wrong
          </label>
        </div> -->
        <div class="4u 12u$(small)">
            <input type="radio" id="label_correct" name="isCorrect" value="Yes" checked="">
            <label for="label_correct">Correct</label>
        </div>
        <div class="4u 12u$(small)">
            <input type="radio" id="label_wrong" name="isCorrect" value="No">
            <label for="label_wrong">Wrong</label>
        </div>
        <button type=submit class="btn btn-dark">Submit</button>
    </form>

    {% endif %}

{% endblock %}